* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1e1f1d;
}
/* size of counter */
#value {
  font-size: 6rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-transform: uppercase;
  /* font-size: 10px; */
}

/* calculator  */
.container {
  max-width: 400px;
  margin: 50px auto auto auto;
  padding: 10px;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  text-align: center;
  border-radius: 20px;
}

#display {
  text-align: right;
  height: 20vh;
  background-color: #1e1f1d;
  color: white;
  /* border: 1px solid #999; */
  line-height: 50%;
  padding: 10% 4%;
  font-size: 3rem;
  overflow: hidden;
}
.buttons {
  display: grid;
  /* border: 1px solid #999; */
  /* border-left: 1px solid #999; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}
.button {
  /* border: 0.5px solid #999; */
  background-color: rgb(100, 100, 100);
  color: white;
  border-radius: 20px;
  margin: 2px;
  line-height: 80px;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
}
.button-sign {
  background-color: rgb(255, 166, 0);
  color: white;
}

#cancel {
  background-color: rgb(221, 40, 40);
  color: white;
}

#equal {
  background-color: #5555ff;
  color: white;
}
.button:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}
